@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


/* ===================Navbarstrt=================== */
.iconDesktop{
    color: white;
}
.mobicontext{
    text-decoration: none;
    font-weight: bold;
}
/* ===================Navbarend=================== */


/* ===================Homestrt=================== */

.Shoesimages{
    margin-top: 10px;
    width: 700px;
}
.heading{
    color: #5262b6;
    text-shadow: 2px 2px 4px black;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

/* ===================Homeend=================== */


/* ===================ProductStrt=================== */
.shoeimg{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    
}
.imagename{
    font-family: 'PT Serif', serif;
     font-weight: bold;
    color: black;
    font-size: 18px;
}
.Shoelink{
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
}
.ProductHome{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul{
    list-style: none;
}
.selecedimg{
    margin-top: 20px;
    width: 270px;
    border: 2px solid #9aa6e2;
    box-shadow: 2px 2px 3px #9aa6e2;
}
.selectedimgtxt{
    text-align: center;
    font-family: 'PT Serif', serif;
     font-weight: bold;
    color: black;
}
/* ===================Productend=================== */
